body {
  margin: 0%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1489249902199-9d713a2c68b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.text-shadow {
  text-shadow: white 2px 2px 5px;
}

h1 {
  color: black;
  font-family: cursive;
  margin-left: 590px;
  margin-top: 100px;
}
p {
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: inherit;
  font-family: cursive;
}
